.form-section
  padding: 0 16px
  margin-bottom: 100px

.request-form
  width: 100%
  max-width: 380px
  margin: 0 auto

.el-input
  width: 100%
  height: 54px
  border: 1px solid $c-light-grey
  background-color: transparent
  outline: none
  border-radius: 4px
  padding: 14px 16px
  transition: .7s
  &:focus, &:active
    transition: .7s
    border: 1px solid black

.input-wrapper
  &--
    &label
      padding-left: 16px
      color: #7E7E7E
      font-size: 12px
      line-height: 14px
      padding-top: 4px

.validation-error
  color: red !important
  text-align: start !important